@import url('https://fonts.cdnfonts.com/css/josefin-sans');

*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans';
  }
  
  .promo-bar {
    text-align: center;
    background-color: #FFDC74;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    top:0;
    left:0;
}

.logo1{
  padding-left: 45%;
}
.navbar {
    text-align: center;
    padding: 0px 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-top: 3px solid #FFDC74;
    border-bottom: 3px solid #FFDC74;
}

.navbar a {
    margin-left: 50px;
    margin-right: 50px;
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    color: #FFDC74;
}

  .title {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    left: 82px;
    letter-spacing: 1.68px;
    position: absolute;
    text-align: center;
    top: 96px;
  }

  section {
    position: relative;
    width: 1300px;
    height: 1000px;
    margin: 0 auto;
    top: 70px;
    bottom: 100px;
  }

  h1 {
    font-family:'Josefin Sans', sans-serif;
  }

  h2 {
    font-family:'Josefin Sans', sans-serif;
  }

  p {
    font-family: "Josefin Sans";
  }

  /*INI CODINGAN LAUREN*/
  section .special {
    margin-left: 70px;
    margin-top: 50px;
  }

  .main_container {
    margin-left: 70px;
  }
  .main_container.seveninarow .card {
    position: relative;
    width: 150px;
    height: 500px;
    margin-right: 18px;
    margin-bottom: 10px;
    float: left;
    border-radius: 20px;
  }

  .main_container.seveninarow .card:nth-child (7n) {
    margin-right: 0px;
  }

  .main_container .card {
    float: left;
    width: 150px;
    margin-right: 18px;
  }

  .shopnow{
    padding-top: 50%;
    padding-left: 55vw;
    padding-right: 30vw;
}
.shop-btn {
    text-align: center;
    padding: 15px 17px;
    border-radius: 30px;
    border: 2px solid #FFDC74;
    background-color: transparent;
    color: #000000;
    transition: 0.4s;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
      }

.shop-btn:hover {
    background-color: #FFDC74;
    color: white;
}

footer {
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 60px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.col-md-4 {
  text-align: left;
  width: calc(33.33% - 20px);
}

.col-md-4 p {
  line-height: 25px;
  text-align: left;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #333;
}
